
/* Generator logo styling */


.generator-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.generator-logo {
    width: 400px;
    height: 400px;
    justify-content: center;
}


/* Generator styling */

.generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    flex-shrink: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 20px 50px;
    background-color: white;
}


/* Generator button styling */

.generator-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background: none;
	color: rgba(220, 154, 69, 0.99);
	border: 0.5px solid rgb(196, 196, 196);
	padding: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #0252a7;
    color: white;
    border: white;
    transition: 0.5s;
    
}


/* Generator title styling */

.generator-field-title{
    color: rgba(220, 154, 69, 0.99);
}

.generator-page-title {
    background: linear-gradient(
        #000c5c 0%,
        #05b7f8 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 56px;
    padding-bottom: 20px;
}


/* Generator dropdown styling */

.dropdown {
    position: relative;
    min-width: 200px;
    max-width: 300px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid (0, 0, 0);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    color: gray;
}

/* Generator input styling */

.input {
    min-width: 200px;
    max-width: 300px;
}

textarea {
    max-width: 300px;
    min-width: 300px;
    min-height: 50px;
}


/* Generator recipe styling */

.recipe-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-button{
    background: none;
	color: rgba(220, 154, 69, 0.99);
	border: 0.5px solid rgb(196, 196, 196);
	padding: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    margin-right: 30px;
}


.recipe-button:hover {
    background-color: #0252a7;
    color: white;
    border: white;
    transition: 0.5s;

}

.join-us-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(
        #000c5c 0%,
        #05b7f8 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    padding-top: 10px;
}