/* Recipe container */
.recipe-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;

}

/* Recipe title */
.recipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fe6e02;
}



/* Recipe description */
.recipe-description {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem;
    
}

/* Recipe ingredients */

.ingredients-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fe6e02;
    justify-content: left;
}

.recipe-ingredients {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.3;
}

/* Recipe instructions */
.instructions-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fe6e02;
    justify-content: left;
}


.recipe-instructions {
    font-size: 1.2rem;
    text-align: justify;
}

.small-title {
    color: #fe6e02;
    font-weight: 500;
}
.regenerate-link {
    background: none;
	color: #fe6e02;
	border: 0.5px solid rgb(196, 196, 196);
	padding: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    margin-right: 30px;
}


.regenerate-link:hover {
    background-color: rgb(11, 169, 204);;
    color: white;
    border: white;
    transition: 0.5s;

}

.error-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
