body {
    margin: 0px;
    background-color: #ffff;
}

.container {
    display: flex;
    justify-content: center;
    grid-template-rows: 40% 20% 40%;
    grid-template-rows: auto;
    grid-template-rows: max-content;
    column-gap: 8%;
    padding: 3%;
    border: 0;
}

.logo {
    width: 20%;
    height: 20%;
    align-content: center;
}

.slogan {
    margin: 0px;
    font-family: cursive;
    font-size: 600%;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 21vh; 
    color: transparent; /* Make the text transparent */
    background: linear-gradient(45deg, #FFC700, #FF1100); /* Define your gradient colors and direction */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
    text-align: center;
    padding: 2%;
}

.popular-recipes, .generate-recipes {
    background-color: white;
    padding: 10%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
}

.border {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    grid-template-columns: 60% 40%;
}

.intro_text {
    margin: 0%;
    padding-top: 1%;
    text-align: center; 
    font-size: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    line-height: 200%;
}

a:link { text-decoration: none; }

.recipe_text {
    color: rgb(11, 169, 204);
    font-size: 150%;
}

.popular-recipes:hover, .generate-recipes:hover {
    transition: 0.7s;
    transform: scale(1.1);
    background-color: rgb(11, 169, 204);
}

.recipe_text:hover {
    color: white;
}
