body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    /* padding: 100px; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: cursive;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgb(145, 144, 144);
    color: rgb(49, 49, 84);
}
.generate-recipes {
    background-color: white;
    /* background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255)); */
    padding: 50px;
    padding-right: 73px;
    border-radius: 25px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    text-shadow: 2px 2px 2px rgb(179, 177, 177);
}

.popular-recipes {
    background-color: white;
    /* background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255)); */
    padding: 60px;
    border-radius: 25px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    text-shadow: 2px 2px 2px rgb(179, 177, 177);
}
 .border {
    padding: 100px;
    background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.recipe_text {
    font-size: 30px;
    
}
.popular-recipes:hover, .generate-recipes:hover {
    transition: 0.7s;
    transform: scale(1.1);
    
}