


.inner_background{
  display:flex;
  background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255));
  margin-top: 100px;  
  width: 530px;
  height: 750px; 
  border-radius: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border: 0;
  border-width: 2px;
  color: rgb(49, 49, 84);
  margin-left: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(18, 7, 119, 0.19);
}


input{
  color: rgb(49, 49, 84);
  border-radius: 20px;
  /* text-align: left; */
  padding-left: 10px;
}

.input_fields{
  width: 500px;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
}

#name_input, #email_input {
  margin-right: 30px;
  width: 250px;
  height: 40px;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

#password_input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
  margin-right: 40px;
  width: 250px;
  height: 40px;
  padding-left: 10px;
}

#password_title {
  padding-right: 7px;
  text-align: left;
}

#confirm_password_title {
  text-indent: -19px;
  margin-bottom: -20px;
}

#name_title, #email_title {
  padding-right: 30px;
}

.register_button{
  margin-left: 60px;
  height: 40px;
  width: 90px;
  border-radius: 15px;
  background-color: white;
  border: 0;
  margin-left: -10px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.inner_bottom{
  padding-top: 30px;
  
}

.reminder_msg{
  align-items: left;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 23px;
  
}

.link {
  float: center;
  padding-right: 300px;
  padding-top: 35px;
  font-size: 13px;
}

#registration {
  font-size: 50px;
}



.image_icons{
  padding-right: 7px;
  padding-top: 12px;
}

label{
  padding-top: 14px;
}

.confirm_input_field{
  display: flex;
  width: 500px;
  padding: 30px;
  padding-top: -80px;
  
}

.confirm_image_icon{
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 12px;
}



.error_message{
  font-size: 13px;
  color: red;
  position: inherit;
  padding-right: 30px;
  padding-left: 30px;
}

.already_account_prompt{
  text-align: left;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 35px;
  position: absolute;
  display: flex;
}

.register_form{
  height: 550px
}

 .big_background{
 float: left;
 width: 100%
} 
.robot_image{
  padding-top: 10px;
  width: 60%;
  height: auto;
  float: left;
  /* left: 250px; */
  padding-top: 10%;
  filter: drop-shadow(20px 5px 17px #c6c6d6);

}


.box3 {
  font-family: Cursive ;
  align-content: center;
  width: auto;
  right: 100px ;
  color: #3a405a;
  padding: 20px;
  text-align: center;
  position: relative;
  font-size: 50px;
  filter: drop-shadow(20px 5px 17px #ffffff);
 
  
}


/* speech bubble 13 */





.robot_image{
 display: flex;

}

