

.inner_background{
  display: flex;
  background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255));
  margin-top: 100px;  
  width: 530px;
  height: 530px; 
  padding-top: 30px;
  border-radius: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 2px;
  color: rgb(49, 49, 84);
}

body{
  display: flex;
  justify-content: center;  
  

}

input{
  color: rgb(49, 49, 84);
}

.input_fields{
  width: 500px;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
}

#name_input, #email_input {
  margin-right: 30px;
  width: 250px;
  height: 40px;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

#password_input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
  margin-right: 40px;
  width: 250px;
  height: 40px;
}

#password_title {
  padding-right: 7px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

#name_title, #email_title {
  padding-right: 30px;
}

.register_button{
  margin-left: 0px;
  height: 60px;
  width: 100px;
  border-radius: 5px;
  background-color: white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* padding: 20px; */
}

.inner_bottom{
  padding-top: 30px;
  
}

.reminder_msg{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-right: 100px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.link {
  position: absolute;
  top: 571px;
  left: 660px;
  display: flex;
  flex-direction: column-reverse;
  font-size: 13px;
  text-align: center;
  margin-left: 100px;
}

