/* .fullPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #303030;
    height: 100%;
    width: 100%;
  }
  
  .frontLogo {
    margin-left: 25%;
    height: 100%;
    width: 75%;
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  
  .signupArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
  }
  
  .email, .password, .username, .firstName, .lastName {
    margin-bottom: 20px;
    padding: 10px;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #f5acf5;
    height: 30px;
    background-color: #f5acf5;
  }
  
  .submit {
    background-color: #f5acf5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 40px;
    padding: 10px 20px; 
    margin-bottom: 8px;
  }
  
  .submit:hover {
    background-color: #f847de;
  }
  
  .login {
    font-size: 11px;
    color: white;
  }
  
  .loginLink {
    color: #f6bdf6;
    cursor: pointer;
  }
  
  .loginLink:hover {
    color: white;
  } */