.title {
    display: flex;
    justify-content: center;
    grid-template-columns: 60% 40%;
    padding-top: 2%;
}

.logo {
    width: 20%;
    height: 20%;
    align-content: center;
}

.main-title {
    color: rgb(11, 169, 204);
    font-family: 'Georgia', sans-serif;
    font-size: 250%;
    padding-top: 7%;
}

.grid-container {
    display: flex;
    justify-content: center;
    grid-template-columns: 33.33% 3.33% 33.33%;
    grid-template-rows: auto;
    grid-template-rows: max-content;
    column-gap: 20px;
    width: 100%;
}

.grid-item {
    padding: 2% 2% 2% 3%;
    align-items: center;
}

.dish-name {
    color: darkcyan;
    font-size: 150%;
    font-family: 'Georgia', sans-serif;
    letter-spacing: 1%;
}

.dish-img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dish-img:hover {
    transition: 0.7s;
    transform: scale(1.1);
}


.bullet-titles {
    color: darksalmon;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
}

li, .coleslaw {
    font-size: 100%;
    line-height: 20px;
    color: slategrey;
    font-family: 'Georgia', sans-serif;
}


/* auto-resize & adjust grids to fit user's */
@media screen and (max-width: 700px) {
    .grid-container {   
        flex-direction: column;
    }
}