.fullPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #303030;
    height: 100%;
    width: 100%;
  }
  
  .frontLogo {
    margin-left: 25%;
    height: 100%;
    width: 75%;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  
  .formArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
  }
  
  .email, .password {
    margin-bottom: 20px;
    padding: 10px;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #f5acf5;
    height: 30px;
    background-color: #f5acf5;
  }
  
  .submit {
    background-color: #f5acf5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 150px; /* Adjust the width to change the size */
    height: 40px; /* Adjust the height to change the size */
    padding: 10px 20px; 
  }
  
  .submit:hover {
    background-color: #f847de;
  }
  
  .signup {
    font-size: 11px;
    color: white;
  }
  
  .signupLink {
    color: #f6bdf6;
    cursor: pointer;
  }
  
  .signupLink:hover {
    color: white;
  }
  
  .forgottenPassword {
    font-size: 11px;
    color: white;
  }
  
  .forgottenPasswordLink {
    color: #f6bdf6;
    cursor: pointer;
  }
  
  .forgottenPasswordLink:hover {
    color: white;
  }