body {
  display: flex;
    justify-content: center;
    /* background-image: url('/src/styling/images/colorful-abstract-background-with-colors-rainbow_14117-15050.jpg');  */
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background_image::before{
  /* background-image: url('/src/styling/images/colorful-abstract-background-with-colors-rainbow_14117-15050.jpg'); */
  opacity: 0.5;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: ;
}

.inner_background{
  display: flex;
  background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255));
  margin-top: 100px;  
  width: 530px;
  height: 530px; 
  padding-top: 70px;
  border-radius: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  color: rgb(49, 49, 84);
}

.mb-3{
  width: 550px;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
}

#password_input, #name_input, #email_input {
  margin-right: 30px;
  width: 175px;
  padding-right: 100px;
}

#password_title {
  padding-right: 7px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

#name_title, #email_title {
  padding-right: 30px;
}

.register_button{
  height: 30px;
  width: 80px;
  border-radius: 5px;
}

.image_icons{
  padding-right: 20px;
}