

.inner_background{
  display: flex;
  background-image: radial-gradient(circle, rgb(244, 252, 255), rgb(220, 250, 255), rgb(103, 189, 255));
  margin-top: 100px;  
  width: 530px;
  height: 530px; 
  padding-top: 70px;
  border-radius: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  color: rgb(49, 49, 84);
}

body{
  display: flex;
  justify-content: center;  
  

}

input{
  color: rgb(49, 49, 84);
}

.mb-3{
  width: 550px;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
}

#name_input, #email_input {
  margin-right: 30px;
  width: 175px;
  padding-right: 100px;
}

#password_input {
  margin-right: 30px;
  width: 175px;
  padding-right: 100px;
  margin-right: 50px;
}

#password_title {
  padding-right: 7px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

#name_title, #email_title {
  padding-right: 30px;
}

.register_button{
  margin-right: 160px;
  height: 60px;
  width: 100px;
  border-radius: 5px;
  /* padding: 20px; */
}

.inner_bottom{
  padding-top: 30px;
  
}

.reminder_msg{
  font-size: 13px;
  text-align: center;
  margin-left: 100px;
  margin: 0px;
  position: absolute;
  right: 590px;
  bottom: 195px;
}

.link {
  font-size: 13px;
  margin: 0px;
  position: absolute;
  right: 555px;
  bottom: 195px;
}

